

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{%static 'css/styles.css' %}" rel="stylesheet"> 
    <link href="{%static 'css/fund.css' %}" rel="stylesheet"> 
    <title>GreenHub</title>
</head>
<body>
    <h1 style="font-size: 50px;">Fundraisers</h1>

    <img src="{%static 'img/fund.jpg' %}">

    <h3 class="p-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem similique officia nulla, earum asperiores consequuntur? Amet veniam esse delectus, repellendus ut eius at quaerat voluptate pariatur modi possimus veritatis recusandae?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, modi illum! Atque similique optio labore beatae veritatis modi voluptates porro, deserunt esse vitae quas reiciendis repellendus sed voluptatibus nesciunt odio.
    </h3>
    <div class="info">
    <div id="fund">
    <div id="data">
       
        <div class="fone">
            <p class="name">Fundraisers name : Avirat sharma</p>
            <div class="img">
                <img src="{%static 'img/lady-img.jpg' %}">
            </div>
        </div>
        
        <p class="name">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae maxime mollitia obcaecati fugiat vero,</p>
        
        <div class="fone">
            <p class="name">Fundraisers amount</p>
            <p class="amount" >$500</p>
        </div>
        
        <a href="www.google.com">Link for Fundraiser</a>
    </div>

    <div id="data">
       
        <div class="fone">
            <p class="name">Fundraisers name : Avirat sharma</p>
            <div class="img">
                <img src="{%static 'img/lady-img.jpg' %}">
            </div>
        </div>
        
        <p class="name">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae maxime mollitia obcaecati fugiat vero,</p>
        
        <div class="fone">
            <p class="name">Fundraisers amount</p>
            <p class="amount" >$500</p>
        </div>
        
        <a href="www.google.com">Link for Fundraiser</a>
    </div>

    
    
</div>  


<div id="fund">
    <div id="data">
       
        <div class="fone">
            <p class="name">Fundraisers name : Avirat sharma</p>
            <div class="img">
                <img src="{%static 'img/lady-img.jpg' %}">
            </div>
        </div>
        
        <p class="name">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae maxime mollitia obcaecati fugiat vero,</p>
        
        <div class="fone">
            <p class="name">Fundraisers amount</p>
            <p class="amount" >$500</p>
        </div>
        
        <a href="www.google.com">Link for Fundraiser</a>
    </div>

    <div id="data">
       
        <div class="fone">
            <p class="name">Fundraisers name : Avirat sharma</p>
            <div class="img">
                <img src="{%static 'img/lady-img.jpg' %}">
            </div>
        </div>
        
        <p class="name">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae maxime mollitia obcaecati fugiat vero,</p>
        
        <div class="fone">
            <p class="name">Fundraisers amount</p>
            <p class="amount" >$500</p>
        </div>
        
        <a href="www.google.com">Link for Fundraiser</a>
    </div> 
</div>  
<div id="fund">
    <div id="data">
       
        <div class="fone">
            <p class="name">Fundraisers name : Avirat sharma</p>
            <div class="img">
                <img src="{%static 'img/lady-img.jpg' %}">
            </div>
        </div>
        
        <p class="name">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae maxime mollitia obcaecati fugiat vero,</p>
        
        <div class="fone">
            <p class="name">Fundraisers amount</p>
            <p class="amount" >$500</p>
        </div>
        
        <a href="www.google.com">Link for Fundraiser</a>
    </div>

    <div id="data">
       
        <div class="fone">
            <p class="name">Fundraisers name : Avirat sharma</p>
            <div class="img">
                <img src="{%static 'img/lady-img.jpg' %}">
            </div>
        </div>
        
        <p class="name">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae maxime mollitia obcaecati fugiat vero,</p>
        
        <div class="fone">
            <p class="name">Fundraisers amount</p>
            <p class="amount" >$500</p>
        </div>
        
        <a href="www.google.com">Link for Fundraiser</a>
    </div> 
</div> 

</div>

</body>

</html>