<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="NAStyles.css" rel="stylesheet" > 
    <title>Document</title>
</head>
<body style="background-color:#1d2a35">
    <div class="container">
        <div class="left">
            <h1 style="font-family:Showcard Gothic">NEWS</h1>
            <div class="zoom">
            <a href="https://economictimes.indiatimes.com/news/environment/global-warming/nasa-says-2022-fifth-warmest-year-on-record-past-nine-years-the-warmest-since-1880/articleshow/96983090.cms">NEWS HEADLINE : 1</a>
            <p>Nasa says 2022 fifth warmest year on record, past nine years the warmest since 1880</p>
            </div>
            <div class="zoom" >
            <a href="https://economictimes.indiatimes.com/news/environment/global-warming/6-reasons-2023-could-be-a-very-good-year-for-climate-action/articleshow/96972831.cms">NEWS HEADLINE : 2</a>
            <p>The world is slowly but surely shifting away from fossil fuels. When historians look back, they will likely see the 2015 Paris agreement as the key pivot point.</p>
            </div>
            <div class="zoom" >
            <a href="https://www.hindustantimes.com/environment/extinction-of-elephants-could-affect-atmospheric-carbon-levels-study-101674954176353.html">NEWS HEADLINE : 3</a>
            <p>Extinction of elephants could affect atmospheric carbon levels: Study</p>
            </div>
            <div class="zoom" >
            <a href="https://www.hindustantimes.com/environment/climate-tipping-points-in-amazon-tibet-linked-scientists-101674748387177.html">NEWS HEADLINE : 4</a>
            <p>Climate tipping points in Amazon, Tibet 'linked': Scientists</p>
            </div>
            <div class="zoom" >
            <a href="https://www.hindustantimes.com/world-news/watch-journalist-asks-greta-thunberg-about-climate-change-she-says-101674212998309.html">NEWS HEADLINE : 5</a>
            <p> Journalist asks Greta Thunberg about climate change. She says</p>
            </div>
            <div class="zoom" >
            <a href="https://www.hindustantimes.com/environment/fishes-are-unnecessarily-fighting-over-food-due-to-climate-change-study-101672904454388.html">NEWS HEADLINE : 6</a>
            <p>Fishes are ‘unnecessarily’ fighting over food due to climate change: Study</p>
            </div>
        </div>
        <div class="right">
            <h1 style="font-family:Showcard Gothic">ARTICLES</h1>
            <div class="zoom">
                <a href="https://academic.oup.com/bioscience/article/54/10/909/230205?login=true">RELEVANT ARTICLE : 1</a>
                <p>Water is essential for maintaining an adequate food supply and a productive environment for the human population and for other animals, plants, and microbes worldwide.</p>
            </div>
            <div class="zoom">
                <a href="https://www.tandfonline.com/doi/abs/10.1080/08941929109380761">RELEVANT ARTICLE : 2</a>
                <p>longitudinal data on public opinion toward environmental issues since 1965 suggests the following conclusions regarding trends in public concern over environmental quality</p>
            </div>
            <div class="zoom">
                <a href="https://www.tandfonline.com/doi/abs/10.1080/00958964.1989.9941923">RELEVANT ARTICLE : 3</a>
                <p>A Technique for Analyzing Environmental Issues</p>
            </div>
            <div class="zoom">
                <a href="https://spssi.onlinelibrary.wiley.com/doi/full/10.1111/0022-4537.00174">RELEVANT ARTICLE : 4</a>
                <p>New Environmental Theories: Empathizing With Nature: The Effects ofPerspective Taking on Concern for Environmental Issues</p>
            </div>
            <div class="zoom">
                <a  href="https://spssi.onlinelibrary.wiley.com/doi/full/10.1111/0022-4537.00174">RELEVANT ARTICLE : 5</a>
                <p>What is new in the field of study of our environment? The Effects of Perspective Taking on Concern for Environmental Issues</p>
            </div>
            <div class="zoom">
                <a  href="https://spssi.onlinelibrary.wiley.com/doi/full/10.1111/0022-4537.00174">RELEVANT ARTICLE : 6</a>
                <p>New Environmental Theories: Empathizing With Nature: How adverse have human actions turned down to be for our surrounding environmental elements</p>
            </div>
        </div>
    </div>
</body>
</html>